### Data Cleaning Practice  

Goals
- Practice data cleaning with Python
- Seek concise, general code
- Clearly document decisions
- Be thorough 

Datasets:
- Top grossing tours data scraped from wikipedia
    - Small dataset
- Something else
    - Large dataset
    - Seek computationally efficient ways to clean the data
        - Dask?

In [212]:
### Packages
import numpy as np
import pandas as pd
import os
from janitor import clean_names
os.chdir('C:/Users/WulfN/')

# Note: For very large datasets, spark or dask should be used in order to partition
# the computation to different clusters and dramatically reduce the processing time

### Read in Data

# this dataset is too easy, but oh well!
messy = (clean_names(
    pd.read_csv('./datasets/unclean_data_practice/wikipedia_scraped.csv'))
    .rename(columns={'adjusted_gross_in_2022_dollars_': 'adjusted_gross_in_2022_dollars', 
                     'year_s_': 'year_range'}))

In [213]:
messy

,rank,peak,all_time_peak,actual_gross,adjusted_gross_in_2022_dollars,artist,tour_title,year_range,shows,average_gross,ref_
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2[10],NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11]
7,7,NaN,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12]
8,9,NaN,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,NaN,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,NaN,NaN,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16]
11,12,NaN,14[17],"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18]
12,13,NaN,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19]
13,14,1[20],NaN,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20]
14,15,2[c],NaN,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,NaN,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22]
16,17,NaN,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d]
17,18,NaN,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4]
18,19,NaN,NaN,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25]
19,20,NaN,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26]

The wikipedia page the data is scraped from is not specificied, though it appears to be top grossing tours. 

Here are questions and areas for improvements:
- Make column names lower case and seperate words by an '_'
- 2 rows are ranked 7, why?
- remove notation like [1]
- The gross columns of ',' and '$' that need to be removed
- Tour title has unnecessary symbols (only keep letters, numbers, and spaces)
- Years could be seperated into start_year and end_year
- data types of aforementioned variables needs to be changed from 'object' to integer in most cases
- perhaps an artist level table could be made showing stats by artist

In [223]:
# Data cleaning

# Split messy strings and clean integers
messy_int = messy.select_dtypes(include='int')
messy_strings = messy.select_dtypes(include='object')

# Fix rank value in messy_int
messy_int.loc[7, 'rank'] = 8

# Clean messy strings
messy_strings = (messy_strings
          # correct column names 
                 .rename(columns={'adjusted_gross_in_2022_dollars_': 'adjusted_gross_in_2022_dollars', 
                                  'year_s_': 'year_range'})
          # split year_range into 'year_start' and 'year_end'
                 .assign(year_start = lambda x: x['year_range'].str[:4],
                         # *** Assuming year_end = year_start if no year_end provided ***
                         year_end = lambda x: x['year_range'].str[-4:]) 
                 .drop(columns=['ref_', 'year_range'])
          # remove notation like [1]
                 .replace(to_replace=r'\[.*', value='', regex = True)
          # remove ALL non number or letter symbols (aside from é)
                 .replace(to_replace=r'[^a-zA-Z0-9 é]', value='', regex=True) # r'[^a-zA-Z0-9]'  # need to include space  
)
messy_strings

,peak,all_time_peak,actual_gross,adjusted_gross_in_2022_dollars,artist,tour_title,average_gross,year_start,year_end
0,1,2,780000000,780000000,Taylor Swift,The Eras Tour,13928571,2023,2024
1,1,7,579800000,579800000,Beyoncé,Renaissance World Tour,10353571,2023,2023
2,1,2,411000000,560622615,Madonna,Sticky Sweet Tour,4835294,2008,2009
3,2,10,397300000,454751555,Pink,Beautiful Trauma World Tour,2546795,2018,2019
4,2,NaN,345675146,402844849,Taylor Swift,Reputation Stadium Tour,6522173,2018,2018
5,2,10,305158363,388978496,Madonna,The MDNA Tour,3467709,2012,2012
6,2,NaN,280000000,381932682,Celine Dion,Taking Chances World Tour,2137405,2008,2009
7,NaN,NaN,257600000,257600000,Pink,Summer Carnival,6282927,2023,2024
8,NaN,NaN,256084556,312258401,Beyoncé,The Formation World Tour,5226215,2016,2016
9,NaN,NaN,250400000,309141878,Taylor Swift,The 1989 World Tour,2945882,2015,2015
10,NaN,NaN,229100000,283202896,Beyoncé,The Mrs Carter Show World Tour,1735606,2013,2014
11,NaN,14,227400000,295301479,Lady Gaga,The Monster Ball Tour,1118227,2009,2011
12,NaN,NaN,204000000,251856802,Katy Perry,Prismatic World Tour,1350993,2014,2015
13,1,NaN,200000000,299676265,Cher,Living Proof The Farewell Tour,615385,2002,2005
14,2,NaN,194000000,281617035,Madonna,Confessions Tour,3233333,2006,2006
15,NaN,NaN,184000000,227452347,Pink,The Truth About Love Tour,1295775,2013,2014
16,NaN,NaN,170000000,213568571,Lady Gaga,Born This Way Ball,1734694,2012,2013
17,NaN,NaN,169800000,207046755,Madonna,Rebel Heart Tour,2070732,2015,2016
18,NaN,NaN,167700000,204486106,Adele,Adele Live 2016,1385950,2016,2017
19,NaN,NaN,150000000,185423109,Taylor Swift,The Red Tour,1744186,2013,2014

In [224]:
### Preserve column order, remove ref_ column, and include updated columns
column_order = list(messy.columns)
column_order.remove('ref_') 

column_loc = column_order.index('year_range')
column_order[column_loc:column_loc + 1] = ['year_start', 'year_end'] # .replace(['year_range'], ['year_start', 'year_end'])

### Merge and restore order of columns
clean = pd.concat([messy_int, messy_strings], axis=1) # on index level
clean = clean[column_order]

In [225]:
### Create dictionary with datatypes and update dataframe

# Partition columns into lists
string_cols = ['artist', 'tour_title']
date_cols = ['year_start', 'year_end']

convert_to_float = list(clean.columns)

for col in string_cols + date_cols:
    convert_to_float.remove(col) 

# create dictionary
data_type_colnames = convert_to_float + date_cols + string_cols
datatypes = ['float'] * len(convert_to_float) + ['int'] * len(date_cols) + ['str'] * len(string_cols)

datatype_conversion = dict(zip(data_type_colnames, datatypes))

# convert
clean = clean.astype(datatype_conversion)
clean

,rank,peak,all_time_peak,actual_gross,adjusted_gross_in_2022_dollars,artist,tour_title,year_start,year_end,shows,average_gross
0,1.0,1.0,2.0,780000000.0,780000000.0,Taylor Swift,The Eras Tour,2023,2024,56.0,13928571.0
1,2.0,1.0,7.0,579800000.0,579800000.0,Beyoncé,Renaissance World Tour,2023,2023,56.0,10353571.0
2,3.0,1.0,2.0,411000000.0,560622615.0,Madonna,Sticky Sweet Tour,2008,2009,85.0,4835294.0
3,4.0,2.0,10.0,397300000.0,454751555.0,Pink,Beautiful Trauma World Tour,2018,2019,156.0,2546795.0
4,5.0,2.0,NaN,345675146.0,402844849.0,Taylor Swift,Reputation Stadium Tour,2018,2018,53.0,6522173.0
5,6.0,2.0,10.0,305158363.0,388978496.0,Madonna,The MDNA Tour,2012,2012,88.0,3467709.0
6,7.0,2.0,NaN,280000000.0,381932682.0,Celine Dion,Taking Chances World Tour,2008,2009,131.0,2137405.0
7,8.0,NaN,NaN,257600000.0,257600000.0,Pink,Summer Carnival,2023,2024,41.0,6282927.0
8,9.0,NaN,NaN,256084556.0,312258401.0,Beyoncé,The Formation World Tour,2016,2016,49.0,5226215.0
9,10.0,NaN,NaN,250400000.0,309141878.0,Taylor Swift,The 1989 World Tour,2015,2015,85.0,2945882.0
10,11.0,NaN,NaN,229100000.0,283202896.0,Beyoncé,The Mrs Carter Show World Tour,2013,2014,132.0,1735606.0
11,12.0,NaN,14.0,227400000.0,295301479.0,Lady Gaga,The Monster Ball Tour,2009,2011,203.0,1118227.0
12,13.0,NaN,NaN,204000000.0,251856802.0,Katy Perry,Prismatic World Tour,2014,2015,151.0,1350993.0
13,14.0,1.0,NaN,200000000.0,299676265.0,Cher,Living Proof The Farewell Tour,2002,2005,325.0,615385.0
14,15.0,2.0,NaN,194000000.0,281617035.0,Madonna,Confessions Tour,2006,2006,60.0,3233333.0
15,16.0,NaN,NaN,184000000.0,227452347.0,Pink,The Truth About Love Tour,2013,2014,142.0,1295775.0
16,17.0,NaN,NaN,170000000.0,213568571.0,Lady Gaga,Born This Way Ball,2012,2013,98.0,1734694.0
17,18.0,NaN,NaN,169800000.0,207046755.0,Madonna,Rebel Heart Tour,2015,2016,82.0,2070732.0
18,19.0,NaN,NaN,167700000.0,204486106.0,Adele,Adele Live 2016,2016,2017,121.0,1385950.0
19,20.0,NaN,NaN,150000000.0,185423109.0,Taylor Swift,The Red Tour,2013,2014,86.0,1744186.0