# Data Cleaning Practice  

Goals
- Practice data cleaning with Python
- Seek concise code
- Clearly document decisions
- Be thorough 

Datasets:
- Top grossing tours data scraped from wikipedia
    - Small dataset
- Something else
    - Large dataset
    - Seek computationally efficient ways to clean the data
        - Dask?

In [24]:
### Packages
import numpy as np
# import pandas as pd
import modin.pandas as pd # faster
import os
from janitor import clean_names
os.chdir('C:/Users/WulfN/')

### Read in Data

# Simple wikipedia dataset
messy = (clean_names(
    pd.read_csv('./datasets/unclean_data_practice/wikipedia_scraped.csv'))
    .rename(columns={'adjusted_gross_in_2022_dollars_': 'adjusted_gross_in_2022_dollars', 
                     'year_s_': 'year_range'}))

pd.options.display.float_format = '{:20,.2f}'.format

In [25]:
messy

,rank,peak,all_time_peak,actual_gross,adjusted_gross_in_2022_dollars,artist,tour_title,year_range,shows,average_gross,ref_
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2[10],NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11]
7,7,NaN,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12]
8,9,NaN,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,NaN,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,NaN,NaN,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16]
11,12,NaN,14[17],"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18]
12,13,NaN,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19]
13,14,1[20],NaN,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20]
14,15,2[c],NaN,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,NaN,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22]
16,17,NaN,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d]
17,18,NaN,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4]
18,19,NaN,NaN,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25]
19,20,NaN,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26]

The wikipedia page the data is scraped from is not specificied, though it appears to be top grossing tours. 

Here are questions and areas for improvements:
- Make column names lower case and seperate words by an '_'
- 2 rows are ranked 7, why?
- remove notation like [1]
- The gross columns of ',' and '$' that need to be removed
- Tour title has unnecessary symbols (only keep letters, numbers, and spaces)
- Years could be seperated into start_year and end_year
- data types of aforementioned variables needs to be changed from 'object' to integer in most cases
- perhaps an artist level table could be made showing stats by artist

In [26]:
messy.info()

<class 'modin.pandas.dataframe.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   rank                            20 non-null     int64
 1   peak                            9 non-null      object
 2   all_time_peak                   6 non-null      object
 3   actual_gross                    20 non-null     object
 4   adjusted_gross_in_2022_dollars  20 non-null     object
 5   artist                          20 non-null     object
 6   tour_title                      20 non-null     object
 7   year_range                      20 non-null     object
 8   shows                           20 non-null     int64
 9   average_gross                   20 non-null     object
 10  ref_                            20 non-null     object
dtypes: int64(2), object(9)
memory usage: 1.8+ KB

### Data Cleaning

In [29]:
# Data cleaning

# Split messy strings and clean integers
messy_int = messy.select_dtypes(include='int64')
messy_strings = messy.select_dtypes(include='object')

# Fix rank value in messy_int
messy_int.at[7, 'rank'] = 8

# Clean messy strings
messy_strings = (messy_strings
                 # correct column names 
                 .rename(columns={'adjusted_gross_in_2022_dollars_': 'adjusted_gross_in_2022_dollars', 
                                  'year_s_': 'year_range'})
                 # split year_range into 'year_start' and 'year_end'
                 .assign(year_start = lambda x: x['year_range'].str[:4],
                         # *** Assuming year_end = year_start if no year_end provided ***
                         year_end = lambda x: x['year_range'].str[-4:]) 
                 .drop(columns=['ref_', 'year_range'])
                 # remove notation like [1]
                 .replace(to_replace=r'\[.*', value='', regex = True)
                 # remove ALL non number or letter symbols (aside from é)
                 .replace(to_replace=r'[^a-zA-Z0-9 é]', value='', regex=True) 
)

In [34]:
### Preserve column order, remove ref_ column, and include updated columns
column_order = list(messy.columns)
column_order.remove('ref_') 

column_loc = column_order.index('year_range')
column_order[column_loc:column_loc + 1] = ['year_start', 'year_end'] # .replace(['year_range'], ['year_start', 'year_end'])

### Merge and restore order of columns
clean = pd.concat([messy_int, messy_strings], axis=1) # on index level
clean = clean[column_order]

In [32]:
### Create dictionary with datatypes and update dataframe

# Partition columns into lists
string_cols = ['artist', 'tour_title']
date_cols = ['year_start', 'year_end']

convert_to_float = list(clean.columns)

for col in string_cols + date_cols:
    convert_to_float.remove(col) 

# create dictionary
data_type_colnames = convert_to_float + date_cols + string_cols
datatypes = ['float'] * len(convert_to_float) + ['int'] * len(date_cols) + ['str'] * len(string_cols)

datatype_conversion = dict(zip(data_type_colnames, datatypes))

# convert
clean = clean.astype(datatype_conversion)
clean

,rank,shows,peak,all_time_peak,actual_gross,adjusted_gross_in_2022_dollars,artist,tour_title,average_gross,year_start,year_end
0,1.00,56.00,1.00,2.00,"780,000,000.00","780,000,000.00",Taylor Swift,The Eras Tour,"13,928,571.00",2023,2024
1,2.00,56.00,1.00,7.00,"579,800,000.00","579,800,000.00",Beyoncé,Renaissance World Tour,"10,353,571.00",2023,2023
2,3.00,85.00,1.00,2.00,"411,000,000.00","560,622,615.00",Madonna,Sticky Sweet Tour,"4,835,294.00",2008,2009
3,4.00,156.00,2.00,10.00,"397,300,000.00","454,751,555.00",Pink,Beautiful Trauma World Tour,"2,546,795.00",2018,2019
4,5.00,53.00,2.00,NaN,"345,675,146.00","402,844,849.00",Taylor Swift,Reputation Stadium Tour,"6,522,173.00",2018,2018
5,6.00,88.00,2.00,10.00,"305,158,363.00","388,978,496.00",Madonna,The MDNA Tour,"3,467,709.00",2012,2012
6,7.00,131.00,2.00,NaN,"280,000,000.00","381,932,682.00",Celine Dion,Taking Chances World Tour,"2,137,405.00",2008,2009
7,8.00,41.00,NaN,NaN,"257,600,000.00","257,600,000.00",Pink,Summer Carnival,"6,282,927.00",2023,2024
8,9.00,49.00,NaN,NaN,"256,084,556.00","312,258,401.00",Beyoncé,The Formation World Tour,"5,226,215.00",2016,2016
9,10.00,85.00,NaN,NaN,"250,400,000.00","309,141,878.00",Taylor Swift,The 1989 World Tour,"2,945,882.00",2015,2015
10,11.00,132.00,NaN,NaN,"229,100,000.00","283,202,896.00",Beyoncé,The Mrs Carter Show World Tour,"1,735,606.00",2013,2014
11,12.00,203.00,NaN,14.00,"227,400,000.00","295,301,479.00",Lady Gaga,The Monster Ball Tour,"1,118,227.00",2009,2011
12,13.00,151.00,NaN,NaN,"204,000,000.00","251,856,802.00",Katy Perry,Prismatic World Tour,"1,350,993.00",2014,2015
13,14.00,325.00,1.00,NaN,"200,000,000.00","299,676,265.00",Cher,Living Proof The Farewell Tour,"615,385.00",2002,2005
14,15.00,60.00,2.00,NaN,"194,000,000.00","281,617,035.00",Madonna,Confessions Tour,"3,233,333.00",2006,2006
15,16.00,142.00,NaN,NaN,"184,000,000.00","227,452,347.00",Pink,The Truth About Love Tour,"1,295,775.00",2013,2014
16,17.00,98.00,NaN,NaN,"170,000,000.00","213,568,571.00",Lady Gaga,Born This Way Ball,"1,734,694.00",2012,2013
17,18.00,82.00,NaN,NaN,"169,800,000.00","207,046,755.00",Madonna,Rebel Heart Tour,"2,070,732.00",2015,2016
18,19.00,121.00,NaN,NaN,"167,700,000.00","204,486,106.00",Adele,Adele Live 2016,"1,385,950.00",2016,2017
19,20.00,86.00,NaN,NaN,"150,000,000.00","185,423,109.00",Taylor Swift,The Red Tour,"1,744,186.00",2013,2014

### Simple Transformations / Feature Engineering

- Create artist level dataframe with the following stats
    - Give qty of tours by artist
    - Average ranking on the list
    - Average # shows

In [33]:
artist_stats = (clean.groupby('artist')
                .agg(qty_tours = ('artist', 'count'),
                     avg_rank = ('rank', 'mean'),
                     avg_show_num = ('shows', 'mean'),
                     adjusted_gross_per_tour = ('adjusted_gross_in_2022_dollars', 'mean'))
                .sort_values('avg_rank', ascending=True))
artist_stats

,qty_tours,avg_rank,avg_show_num,adjusted_gross_per_tour
artist,,,,
Celine Dion,1,7.00,131.00,"381,932,682.00"
Beyoncé,3,7.33,79.00,"391,753,765.67"
Taylor Swift,4,9.00,70.00,"419,352,459.00"
Pink,3,9.33,113.00,"313,267,967.33"
Madonna,4,10.50,78.75,"359,566,225.25"
Katy Perry,1,13.00,151.00,"251,856,802.00"
Cher,1,14.00,325.00,"299,676,265.00"
Lady Gaga,2,14.50,150.50,"254,435,025.00"
Adele,1,19.00,121.00,"204,486,106.00"